.timer_container {
    font-size: 256px;
    line-height: 85%;
    font-weight: 200;
    font-stretch: 110%;
    transition: font-weight .5s ease-in,
                font-stretch .5s ease-in;

    &.active_timer {
        font-weight: 800;
        font-stretch: 100%;
    }
}

[data-state="Focus"] .timer_container {
    color: hsl(var(--red-900));
}

[data-state="Short break"] .timer_container {
    color: hsl(var(--green-900));
}

[data-state="Long break"] .timer_container {
    color: hsl(var(--blue-900));
}

[data-darkmode="true"][data-state="Focus"] .timer_container {
    color: hsl(var(--red-50));
}

[data-darkmode="true"][data-state="Short break"] .timer_container {
    color: hsl(var(--green-50));
}

[data-darkmode="true"][data-state="Long break"] .timer_container {
    color: hsl(var(--blue-50));
}
