.controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.controller > button > svg {
    width: 32px;
    height: 32px;
}

.secondary {
    aspect-ratio: 1;
    width: 80px;
    border-radius: 24px;
}

.primary {
    width: 128px;
    height: 96px;
    border-radius: 32px;
}

[data-state="Focus"] .secondary {
    background-color: hsla(var(--alpha-red-100));
}

[data-state="Focus"] .primary {
    background-color: hsla(var(--alpha-red-700));
}

[data-state="Focus"] .controller > button > svg > path {
    fill: hsla(var(--red-900));
}

[data-state="Short break"] .secondary {
    background-color: hsl(var(--alpha-green-100));
}

[data-state="Short break"] .primary {
   background-color: hsl(var(--alpha-green-600));
}

[data-state="Short break"] .controller > button > svg > path {
    fill: hsla(var(--green-900));
}

[data-state="Long break"] .secondary {
    background-color: hsl(var(--alpha-blue-100));
}
[data-state="Long break"] .primary {
    background-color: hsl(var(--alpha-blue-600));
}

[data-state="Long break"] .controller > button > svg > path {
    fill: hsla(var(--blue-900));
}