.container {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    color: hsl(var(--red-900))
}

.container[aria-disabled="true"], .container[aria-disabled="true"] > * {
    opacity: 0.5;
    cursor: not-allowed;
}

[data-state="Short break"] .container {
    color: hsl(var(--green-900))
}

[data-state="Long break"] .container {
    color: hsl(var(--blue-900))
}

[data-darkmode="true"] .container {
    color: hsl(var(--red-50))
}

[data-darkmode="true"][data-state="Short break"] .container {
    color: hsl(var(--green-50))
}

[data-darkmode="true"][data-state="Long break"] .container {
    color: hsl(var(--blue-50))
}
