.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

/*DEFAULT STYLES*/
.App[data-state="Focus"] {
    background-color: hsl(var(--red-50));
}

.App[data-state="Short break"] {
    background-color: hsl(var(--green-50));
}

.App[data-state="Long break"] {
    background-color: hsl(var(--blue-50));
}

/*DARK MODE STYLES*/
.App[data-state="Focus"][data-darkmode="true"] {
    background-color: hsl(var(--red-950));
}

.App[data-state="Short break"][data-darkmode="true"] {
    background-color: hsl(var(--green-950));
}

.App[data-state="Long break"][data-darkmode="true"] {
    background-color: hsl(var(--blue-950));
}