@import "./font.css";
@import "./variables.css";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: "RobotoFlex", sans-serif;
  font-size: 16px;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#root {
  display: grid;
  place-items: center;
  background-color: hsl(var(--red-500));
}