:root {
    /* SOLID COLORS */
    --red-950: 0 54% 3%;
    --red-900: 0 54% 18%;
    --red-100: 0 100% 93%;
    --red-50: 0 100% 97%;

    --green-950: 133 53% 3%;
    --green-900: 132 52% 16%;
    --green-100: 135 77% 92%;
    --green-50: 134 100% 97%;

    --blue-950: 207 53% 3%;
    --blue-900: 208 54% 18%;
    --blue-100: 207 100% 93%;
    --blue-50: 208 100% 97%;

    /* ALPHA COLORS */
    --alpha-red-700: 0 100% 65% / 0.71;
    --alpha-red-100: 0 100% 65% / 0.15;

    --alpha-green-600: 134 66% 58% / 0.62;
    --alpha-green-100: 134 66% 58% / 0.15;

    --alpha-blue-600: 208 100% 65% / 0.71;
    --alpha-blue-100: 208 100% 65% / 0.15;

    --alpha-black-200: 0 0% 0% / 0.24;
    --alpha-black-100: 0 0% 0% / 0.15;
    --alpha-black-50: 0 0% 0% / 0.05;

    --alpha-white-200: 0 0% 100% / 0.24;
    --alpha-white-100: 0 0% 100% / 0.15;
    --alpha-white-50: 0 0% 100% / 0.05;
}